@model TourismReco2.Models.SubClan
 
<label>
    <div class="priority-box low">
        @Html.RadioButtonFor(m => m.SubClanPriority, "1")
        <span class="radioButtonText">1</span>
    </div>
</label>
<label>
    <div class="priority-box medium">
        @Html.RadioButtonFor(m => m.SubClanPriority, "2")
        <span class="radioButtonText">2</span>
    </div>
</label>

<label>
    <div class="priority-box high">
        @Html.RadioButtonFor(m => m.SubClanPriority, "3")
        <span class="radioButtonText">3</span>
    </div>
</label>

<label>
    <div class="priority-box high">
        @Html.RadioButtonFor(m => m.SubClanPriority, "4")
        <span class="radioButtonText">4</span>
    </div>
</label>

<label>
    <div class="priority-box high">
        @Html.RadioButtonFor(m => m.SubClanPriority, "5")
        <span class="radioButtonText">5</span>
    </div>
</label>