@model TourismReco2.Models.ViewModels.RecommendationsFormViewModel

@{
    ViewBag.Title = "SaveSelectedClans";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@*Enter following form for SaveSelectedClans*@</h2>

<div id="recommendationForm">
    <section id="fh5co-hero" class="js-fullheight" @*style="background-image: url(/Content/images/hero3.jpg);"*@ data-next="yes">
        @*<div class="fh5co-overlay"></div>*@
        <div class="container">
            <div class="fh5co-intro js-fullheight">

                @using (Html.BeginForm("SaveSelectedClans", "Recommendations", FormMethod.Post, new { @class = "reco_form" }))
                {

                    <div class="row">


                        @for (int i = 0; i < Model.Clans.Count; i++)
                        {
                            <div class="col-md-3 clan background-@i">
                                <div class="clan-overlay">

                                    <div class="content">
                                        @Html.CheckBoxFor(m => m.Clans[i].IsSelected, new { @class = "checkbox" })
                                        <p class="clan-name">@Model.Clans[i].ClanName</p>
                                        @Html.HiddenFor(m => m.Clans[i].ClanId)
                                        @Html.HiddenFor(m => m.Clans[i].ClanName)
                                    </div>
                                </div>
                                <br />
                            </div>
                        }

                        @Html.HiddenFor(m => m.UserId)


                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                }
            </div>
        </div>
    </section>



</div>
