@model TourismReco2.Models.ViewModels.RecommendationsFormViewModel

@{
    ViewBag.Title = "SaveSelectedClans";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div id="recommendationForm">
    <section id="fh5co-hero" class="js-fullheight" @*style="background-image: url(/Content/images/hero3.jpg);"*@ data-next="yes">
        @*<div class="fh5co-overlay"></div>*@
        <div class="container">
            <h2>Select your affiliation to clans</h2>

            <div class="fh5co-intro js-fullheight">

                @using (Html.BeginForm("SaveSelectedClans", "Recommendations", FormMethod.Post, new { @class = "reco_form" }))
                {
                    <div class="row">
                        @for (int i = 0; i < Model.Clans.Count; i++)
                        {
                            
                            <div class="col-md-3 clan background-@i">
                                <label>
                                <div class="clan-overlay">
                                        <div class="content">
                                            @Html.CheckBoxFor(m => m.Clans[i].IsSelected, new { @class = "checkbox" })
                                            <p class="clan-name">@Model.Clans[i].ClanName</p>
                                            @Html.HiddenFor(m => m.Clans[i].ClanId)
                                            @Html.HiddenFor(m => m.Clans[i].ClanName)
                                        </div>
                                </div>
                                </label>
                                <br />
                            </div>
                        }

                        @Html.HiddenFor(m => m.UserId)
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                }
            </div>
        </div>
    </section>



</div>
