@model List<TourismReco2.Models.Clan>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div id="select-clan-priority">
    <section id="fh5co-hero" class="js-fullheight" @*style="background-image: url(/Content/images/hero3.jpg);"*@ data-next="yes">
        <div class="container">
            <h2>Select Clan priority</h2>

            <div class="fh5co-intro js-fullheight">

                @using (Html.BeginForm("SaveClanPriority", "Recommendations", FormMethod.Post, new { @class = "reco_form" }))
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="priorityContent animate-box">
                            <p class="subClanTitle"> @Model[i].ClanName </p>
                            @Html.HiddenFor(m => m[i].ClanId)
                            @Html.HiddenFor(m => m[i].ClanName)
                            @Html.HiddenFor(m => m[i].UserId)


                            <label>
                                <div class="priority-box low">
                                    @Html.RadioButtonFor(m => m[i].ClanPreference, "1")
                                    <span class="radioButtonText">Low Priority</span>
                                </div>
                            </label>
                            <label>
                                <div class="priority-box medium">
                                    @Html.RadioButtonFor(m => m[i].ClanPreference, "2")
                                    <span class="radioButtonText">Medium Priority</span>
                                </div>
                            </label>

                            <label>
                                <div class="priority-box high">
                                    @Html.RadioButtonFor(m => m[i].ClanPreference, "3")
                                    <span class="radioButtonText">High Priority</span>
                                </div>
                            </label>
                        </div>

                    }

                    <button type="submit" class="btn btn-primary">Submit</button>

                }
            </div>
        </div>
    </section>
</div>