@model List<TourismReco2.Models.Clan>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<div id="select-clan-priority">
    <h2>Select Clan priority</h2>
    <section id="fh5co-hero" class="js-fullheight" @*style="background-image: url(/Content/images/hero3.jpg);"*@ data-next="yes">
        <div class="container">
            <div class="fh5co-intro js-fullheight">

                @using (Html.BeginForm("SaveClanPriority", "Recommendations", FormMethod.Post, new { @class = "reco_form" }))
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        @Model[i].ClanName <br />

                        @Html.HiddenFor(m => m[i].ClanId)
                        @Html.HiddenFor(m => m[i].ClanName)
                        @Html.HiddenFor(m => m[i].UserId)

                        @Html.Label("Low Priority")
                        @Html.RadioButtonFor(m => m[i].ClanPreference, "1")<br/>

                        @Html.Label("Medium Priority")
                        @Html.RadioButtonFor(m => m[i].ClanPreference, "2")<br />


                        @Html.Label("High Priority")
                        @Html.RadioButtonFor(m => m[i].ClanPreference, "3")

                        

                        <br /><br />
                    }

                    <button type="submit" class="btn btn-primary">Submit</button>

                }
            </div>
        </div>
    </section>
</div>