@model List<TourismReco2.Models.Clan>

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
@using (Html.BeginForm("SaveSubClanPriority", "Recommendations", FormMethod.Post, new { @class = "reco_form" }))
{

    <div class="reco_form_overlay">

        @for (int i = 0; i < Model.Count; i++)
        {
            <h2>@Model[i].ClanName</h2>

            for (int j = 0; j < Model[i].SubClans.Count; j++)
            {
                @Html.HiddenFor(m => m[i].ClanId)
                @Html.HiddenFor(m => m[i].SubClans[j].SubClanId)
                @Html.TextBoxFor(m => m[i].SubClans[j].SubClanPriority, new { @class = "form-control small_textbox", Value = " " })
                @Model[i].SubClans[j].SubClanName
                <br />
            }

            @Html.HiddenFor(m => m[i].UserId)

            <br />
        }

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

}