@model TourismReco2.Models.ViewModels.ShowRecommendationsViewModel

@{
    ViewBag.Title = "Recommendations";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*apikey = AIzaSyBGJRPRHqGo5aORter8h37s7ez8QPt0VFY*@

<div id="fh5co-page">

    @using (Html.BeginForm("ShowSelectedItems", "Recommendations", FormMethod.Post, new { @class = "reco_form" }))
    {
        <section id="fh5co-hero" class="js-fullheight" data-next="yes">
            <div class="container">
                <div class="fh5co-intro js-fullheight">

                    <div class="recommendations_page">
                        <h2>Following are the suggested Destinations for you.</h2>


                        @*                    <iframe width="100%"*@
                        @*                            height="450"*@
                        @*                            frameborder="0" style="border:0"*@
                        @*                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBGJRPRHqGo5aORter8h37s7ez8QPt0VFY*@
                        @*    &q=Southland,New+Zealand" allowfullscreen></iframe>*@

                        <ul class="list-group">

                            @for (int i = 0; i < Model.CalculatedRecommendations.Count; i++)
                            {
                                <li class="list-group-item">
                                    @Html.CheckBoxFor(r => r.CalculatedRecommendations[i].ChosenByUser) &nbsp; &nbsp; &nbsp;
                                    @Model.CalculatedRecommendations[i].Item.ItemName | @Model.CalculatedRecommendations[i].CalcultedWeight

                                    @Html.HiddenFor(r => r.CalculatedRecommendations[i].ItemId)
                                    @Html.HiddenFor(r => r.CalculatedRecommendations[i].UserId)
@*                                    @Html.HiddenFor(r => r.CalculatedRecommendations[i].ChosenByUser)*@
                                </li>

                            }

                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>
        </section>
    }
</div>
