@model TourismReco2.Models.ViewModels.ShowRecommendationsViewModel

@{
    ViewBag.Title = "Recommendations";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*apikey = AIzaSyBGJRPRHqGo5aORter8h37s7ez8QPt0VFY*@

<div id="show-generated-recommendations">
    <section id="fh5co-hero" class="js-fullheight" data-next="yes">
        <div class="container">
            <h2>Select chosen destinations</h2>

            @using (Html.BeginForm("SaveAndShowSelectedRecommendations", "Recommendations", FormMethod.Post, new { @class = "reco_form" }))
            {
                <div class="container">
                    <div class="fh5co-intro">


                        <ol type="I" class="list-group">

                            @for (int i = 0; i < Model.CalculatedRecommendations.Count; i++)
                            {
                                <li class="list-group-item animate-box">
                                    @Html.CheckBoxFor(r => r.CalculatedRecommendations[i].ChosenByUser) &nbsp; &nbsp; &nbsp;
                                    <strong>@Model.CalculatedRecommendations[i].Item.ItemName </strong>
                                    | <span class="recommendationWeight">Calculated Weight: @Model.CalculatedRecommendations[i].CalcultedWeight</span>

                                    @Html.HiddenFor(r => r.CalculatedRecommendations[i].ItemId)
                                    @Html.HiddenFor(r => r.CalculatedRecommendations[i].Item)
                                    @Html.HiddenFor(r => r.CalculatedRecommendations[i].UserId)
                                    @*                                    @Html.HiddenFor(r => r.CalculatedRecommendations[i].ChosenByUser)*@
                                </li>

                            }

                        </ol>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            }

        </div>
    </section>
</div>
